%h1 タイムライン
.article_index
  .image_list
    iii
    = render "image_list"
  .right_box
    .right_menu
      = render "right_menu"
    .banner0
      = link_to image_tag("banner/banner1.jpg"), root_path
