// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-title {
  background-color: white;
}
.article_index {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
.right_box {
  height: 1000px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  display: flex;
  flex-flow: column nowrap;
}

.right_menu {
  height:300px;
  background-color: white;
  ul {
    list-style:none;
    padding: 0px;
  }
}

.banner0 {
  text-align: center;
}
