// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cut {
	position: relative;
	float: left;
	overflow: hidden;	/*不要部分の切り取り*/
	height: 100px;		/*正方形にしたい高さサイズ*/
	width: 100px;		/*正方形にしたい横幅サイズ*/
	display: block;		/*spanなのでblock要素にする*/
	margin:0 0px 0px 0;
  .cut_image {			/*縦・横の画像でも一応見れるように微妙に調整されています。*/
  	diaplay: block;
  	height: 150px;
  	position: absolute;
  	left: -50px;
  	top: -20px;
  }
}

.page-title {
  background-color: white;
}

.right_menu{
  background-color: white;
	width:170px;
	height:300px;
	padding-top:0px;
	padding-bottom:0px;
	padding-right:0px;
	padding-left:0px;
	margin:0px;
	float:left;
	line-height:200%;
  float: right !important;
  ul {
    list-style:none;
    padding-left: 0px;
    margin-left: 15px;
  }
}
