.header{class:"navbar-fixed-top"}
  .header_left_content
    = link_to "SeeTive", root_path, id:'logo'
  .header_right_content
    .icon
      #i.fa.fa-search
    .icon
      = link_to image_tag("header/seetive.jpg", height: "40", alt: "rails logo"), root_path
    .icon
      #i.fa.fa-bars
